/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f172a;
  color:white;
  overflow-x:hidden;
}

.hero{
  width:100%;
  min-height:100vh;
  background:url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1200&auto=format&fit=crop');
  background-size:cover;
  background-position:center;
  position:relative;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.7);
}

.content{
  position:relative;
  z-index:2;
  max-width:700px;
}

.content img{
  width:180px;
  height:180px;
  border-radius:50%;
  object-fit:cover;
  border:5px solid white;
  margin-bottom:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.content h1{
  font-size:4rem;
  margin-bottom:10px;
}

.subtitle{
  font-size:1.4rem;
  color:#38bdf8;
}

.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

.about,
.timeline,
.quote{
  padding:80px 20px;
}

.about h2,
.timeline h2,
.quote h2{
  text-align:center;
  font-size:2.5rem;
  margin-bottom:30px;
  color:#38bdf8;
}

.about p{
  font-size:1.1rem;
  line-height:2;
  margin-bottom:20px;
  color:#cbd5e1;
  text-align:center;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  margin-top:40px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  transition:0.4s;
  box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.card:hover{
  transform:translateY(-10px);
}

.card h3{
  margin-bottom:15px;
  color:#38bdf8;
}

.card p{
  color:#cbd5e1;
  line-height:1.7;
}

.quote{
  text-align:center;
}

blockquote{
  font-size:1.8rem;
  line-height:1.8;
  color:#f8fafc;
  max-width:900px;
  margin:auto;
}

footer{
  text-align:center;
  padding:25px;
  background:#020617;
  color:#94a3b8;
}

@media(max-width:768px){

  .content h1{
    font-size:2.5rem;
  }

  .subtitle{
    font-size:1rem;
  }

  .content img{
    width:140px;
    height:140px;
  }

  blockquote{
    font-size:1.2rem;
  }

}